@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Silkscreen:wght@400;700&display=swap');

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Silkscreen', cursive;
    background-image: url("../img/fondo3.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

h1 {
    font-size: 55px;
    text-align: center;
    margin-top: 80px;

}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-content img {
    margin-top: 30px;
    width: 15%;
    border-radius: 10%;
}

.main-content img:hover {
    box-shadow: 0 0 10px 0 #cfdae2 inset, 0 0 10px 4px #dfe3e6;
    background-color: pink;
}

.characters>div {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
}



.select {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}

.btn {
    padding: 20px;
    font-size: 40px;
    background-color: blueviolet;
    border: 4px solid black;
    border-radius: 10px;
    margin-top: 15px;
    cursor: pointer;
}