@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Silkscreen:wght@400;700&display=swap');


html,
body {
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Silkscreen', cursive;
    background: rgb(203, 55, 142);
    background: linear-gradient(90deg, rgba(203, 55, 142, 1) 0%, rgba(28, 64, 181, 0.8265056022408963) 96%);
}

.text {
    text-align: center;
    margin-left: -100px
}

.container {
    display: flex;
    justify-content: space-around
}

h1 {
    font-size: 45px;
    font-weight: 700;

}

p {
    font-size: 20px;

}

.container>section {
    width: 35%;

}

.container div {
    display: flex;
    justify-content: space-around;
}

.container img {
    width: 40%;

}

#canvas {
    border: 5px solid black;
    margin-left: -200px;
    margin-top: 40px;
    width: 700px;
    height: 570px;
}

.container span {
    font-size: 40px;
}

.bottom-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-left: -150px;
}

.flower {
    width: 25%;
    margin-top: 7px;
}

.flower img {
    width: 27%;
}


.lifes-section img {
    width: 40px
}

.lifes-section {
    padding: 10px;
}

.btn {
    padding: 20px;
    font-size: 40px;
    background-color: blueviolet;
    border: 4px solid black;
    border-radius: 10px;
    cursor: pointer;
    width: 40%;
    font-family: 'Silkscreen', cursive;
    margin: 0 auto;
}

.btnImg {
    display: flex;
    flex-direction: column;
    margin-top: 70px;

}